.todoitem{
	padding: 5px;
	border:1px solid black;
	cursor: pointer;
}

.editing .input{
	display: inline;
}
.editing .show{
	display: none;
}

.complete label{
	text-decoration: line-through;
}

.input{
	display: none;
}

.show{
	display: inline;
}

button.active{
	background: green;
	color: white;
}